
<div id="fullBg" />

   <div class="container" style="padding-top: 50px;">

      <br><br><br>



      <div class="post_section">

        <h4> edit user</h4>
        <br>
        <br>
          <%= render 'form', user: @user %>
        </div>
   </div>
