<div id="fullBg" />

<div class="container">
  <figure>
    <h4 class= "glow"  id= "pad_s">sign up</h4>
  </figure>

  <br><br><br>
  <div class="signup_section">
<%= render 'form', user: @user %>
</div>
</div>
