<h1><u><%=@user.name%></u></h1>

<h2>My Posts</h2>
<%=link_to "New Post", new_post_url %>
<ul>
  <% @user.entry.each do |p| %>
  <li><%=link_to p.title, post_path(p) %></li>
   <% end%>
</ul>

<hr>

<h2>Favoritez</h2>

<ul>
  <% @user.posts.each do |p| %>
  <li><%=link_to p.title, post_path(p) %></li>
   <% end%>
</ul>
