<p id="”notice”"><%= notice %></p>


<div id="homepage_logo">
  <%= image_tag("new3.png")%>
</div>
<br>
<div id="homepage_description">
  <h5>Welcome to the World's First Skate Spot Web App!!!</h5>
  <h5>Please Login or Signup to Discover the Latest & Hottest Skate Spots in you Area. </h5>

</div>
