/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #map {
     text-align: center;
     width: 100vw !important;
     height: 25em;
    position: absolute;
    bottom:  0;
 }

 body {
     background-color: #fff;
     color: #333;
     margin: 0px;
     font-family: verdana, arial, helvetica, sans-serif;
     font-size: 13px;
     line-height: 18px;
 }

 .bg-light {
     background-color: rgb(16,0,0)!important;
 }
 .navbar-light .navbar-nav .nav-link {
    color: rgba(254, 250, 255, 0.5)!important;
}
.navbar-light .navbar-text {
    color: rgb(255, 255, 255);
}
.post-body{
  height: 100px;

  text-align: center !important;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(254, 250, 255) !important;
}
/* .show_content{


  text-align: center;
} */
